# //////////////////////////////////////////////////////////////////////////////
- robots:
# //////////////////////////////////////////////////////////////////////////////

  # source the top-level scenario files
  - source operations/deploy/scenarios/.base.env
  - source operations/deploy/scenarios/systems/robot/.robot.env

  # ////////////////////////////////////////////////////////////////////////////
  - uav:
  # ////////////////////////////////////////////////////////////////////////////

    # ////////////////////////////////////////////////////////////////////////////
    - ds1:
    # ////////////////////////////////////////////////////////////////////////////

      # source the computer-level scenario file
      - export filename=systems/robot/uav1
      - source operations/deploy/scenarios/$filename.env
      - 'export scenario=" --scenario $filename"'

      # extend
      - +extend: common/transfer
      - +extend: common/skel_t
      - ds:
        - compose:
          - +ssh:{ uav.ds1 }
          - +extend: systems/robot/uav/ds/compose
        - catkin:
          - +ssh:{ uav.ds1 }
          - +extend: systems/robot/uav/ds/catkin
        - registry:
          - export DCTX=robot-uav-ds1
          - +extend: systems/robot/uav/ds/registry

    # ////////////////////////////////////////////////////////////////////////////
    - ds2:
    # ////////////////////////////////////////////////////////////////////////////

      # source the computer-level scenario file
      - export filename=systems/robot/uav2
      - source operations/deploy/scenarios/$filename.env
      - 'export scenario=" --scenario $filename"'

      # extend
      - +extend: common/transfer
      - +extend: common/skel_t
      - ds:
        - compose:
          - +ssh:{ uav.ds2 }
          - +extend: systems/robot/uav/ds/compose
        - catkin:
          # - +docker:uav-cpu-shell
          -  +ssh:{ uav.ds2 }
          - +extend: systems/robot/uav/ds/catkin
        - registry:
          - export DCTX=robot-uav-ds2
          - +extend: systems/robot/uav/ds/registry

    # ////////////////////////////////////////////////////////////////////////////
    - ds3:
    # ////////////////////////////////////////////////////////////////////////////

      # source the computer-level scenario file
      - export filename=systems/robot/uav3
      - source operations/deploy/scenarios/$filename.env
      - 'export scenario=" --scenario $filename"'

      # extend
      - +extend: common/transfer
      - +extend: common/skel_t
      - ds:
        - compose:
          - +ssh:{ uav.ds3 }
          - +extend: systems/robot/uav/ds/compose
        - catkin:
          # - +docker:uav-cpu-shell
          - +ssh:{ uav.ds3 }
          - +extend: systems/robot/uav/ds/catkin
        - registry:
          - export DCTX=robot-uav-ds3
          - +extend: systems/robot/uav/ds/registry

    # ////////////////////////////////////////////////////////////////////////////
    - ds4:
    # ////////////////////////////////////////////////////////////////////////////

      # source the computer-level scenario file
      - export filename=systems/robot/uav4
      - source operations/deploy/scenarios/$filename.env
      - 'export scenario=" --scenario $filename"'

      # extend
      - +extend: common/transfer
      - +extend: common/skel_t
      - ds:
        - compose:
          - +ssh:{ uav.ds4 }
          - +extend: systems/robot/uav/ds/compose
        - catkin:
          - +ssh:{ uav.ds4 }
          - +extend: systems/robot/uav/ds/catkin
        - registry:
          - export DCTX=robot-uav-ds4
          - +extend: systems/robot/uav/ds/registry

    # ////////////////////////////////////////////////////////////////////////////
    - canary1:
    # ////////////////////////////////////////////////////////////////////////////

      # source the computer-level scenario file
      - export filename=systems/robot/canary1
      - source operations/deploy/scenarios/$filename.env
      - 'export scenario=" --scenario $filename"'

      # extend
      - +extend: common/transfer
      - +extend: common/skel_t
      - uav:
        - compose:
          - +ssh:{ uav.canary1 }
          - +extend: systems/robot/uav/ds/compose
        - catkin:
          - +ssh:{ uav.canary1 }
          - +extend: systems/robot/uav/ds/catkin
        - registry:
          - export DCTX=robot-uav-canary1
          - +extend: systems/robot/uav/ds/registry
