#!/usr/bin/env bash

# //////////////////////////////////////////////////////////////////////////////
# docker image creation

# dockerfile path relative to 'dockerfile' directory
export DOCKERFILE_PATH="subt/local/subt"

# image project name
export PROJECT="subt"

# image tag to be used; i.e. dockerfile suffix
export TAG="0.1-devel"

# extra docker build options
export BUILD_OPTIONS=""

# ssh keys
export SSH_KEY="deploy"

# //////////////////////////////////////////////////////////////////////////////
# docker container creation
export CONTAINER="subt"

# extra docker run options
export RUN_OPTIONS="-v /home/$USER/deploy_ws/:/home/developer/deploy_ws/
    --net=host"

# //////////////////////////////////////////////////////////////////////////////
# extra docker join container
export JOIN_OPTIONS=""

