###################################################################################################
### ignore files/folders in same directory as the .gitignore file
/*

###################################################################################################
### allow deploy specific
!.gitignore
!.gitmodules
!README.md
!ci/
!docker/
!deploy/
!field_support/
!launch/
!hardware/
!deployer
!install-deployer.bash

###################################################################################################
### allow planning workspace
# howto: https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
# TODO: double asterics shortcut?

# unignore planning-ws 
!planning/
planning/*

# allow specific repos
!planning/planning_workspace/
!planning/.catkin_tools/

#######################################
### allow planning-deps

# unignore planning deps-ws
!planning/deps/
planning/deps/*

# unignore deps-ws catkin
!planning/deps/catkin
planning/deps/catkin/*

# allow specific repos
!planning/deps/catkin/.catkin_tools/
planning/deps/catkin/.catkin_tools/*

###################################################################################################
### allow perception workspace

# unignore perception-ws 
!perception/
perception/*

# allow specific repos
!perception/object_detection/
!perception/.catkin_tools/

# unignore deps-ws catkin
!perception/deps/catkin
perception/deps/catkin/*

# allow specific repos
!perception/deps/catkin/.catkin_tools/
perception/deps/catkin/.catkin_tools/*

#######################################
### allow perception-deps

###################################################################################################
### ignore anything that was previously allowed

### ignore planning

# ignore catkin tools non config packages
planning/.catkin_tools/profiles/default/packages/
planning/.catkin_tools/profiles/default/devel_collisions.txt
planning/.catkin_tools/profiles/default/build.yaml

# ignore catkin tools non config packages
planning/deps/catkin/.catkin_tools/profiles/default/packages/
planning/deps/catkin/.catkin_tools/profiles/default/devel_collisions.txt
planning/deps/catkin/.catkin_tools/profiles/default/build.yaml

### ignore perception

# ignore catkin tools non config packages
perception/.catkin_tools/profiles/default/packages/
perception/.catkin_tools/profiles/default/devel_collisions.txt
perception/.catkin_tools/profiles/default/build.yaml

# ignore catkin tools non config packages
perception/deps/catkin/.catkin_tools/profiles/default/packages/
perception/deps/catkin/.catkin_tools/profiles/default/devel_collisions.txt
perception/deps/catkin/.catkin_tools/profiles/default/build.yaml

### ignore launch

# ignore catkin tools non config packages
launch/catkin/.catkin_tools/profiles/default/packages/
launch/catkin/.catkin_tools/profiles/default/devel_collisions.txt
launch/catkin/.catkin_tools/profiles/default/build.yaml
