###################################################################################################
### ignore files/folders in same directory as the .gitignore file
/*

###################################################################################################
### allow deploy specific
!.gitignore
!.gitmodules
!README.md
!ci/
!docker/
!deploy/
!field_support/
!rosinstall/
!deployer
!install-deployer.bash
!tmuxp
!documentation

###################################################################################################
### allow planning workspace
# howto: https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
# TODO: double asterics shortcut?

# unignore planning-ws 
!planning/
planning/*

# allow specific repos
!planning/.catkin_tools/

#######################################
### allow planning-deps

# unignore planning deps-ws
!planning/deps/
planning/deps/*

# unignore deps-ws catkin
!planning/deps/catkin
planning/deps/catkin/*

# allow specific repos
!planning/deps/catkin/.catkin_tools/
planning/deps/catkin/.catkin_tools/*

#######################################
### allow planning-hardware

# unignore planning hardware-ws
!planning/hardware/
planning/hardware/*

# unignore hardware-ws catkin
!planning/hardware/catkin
planning/hardware/catkin/*

# allow specific repos
!planning/hardware/catkin/.catkin_tools/
planning/hardware/catkin/.catkin_tools/*

###################################################################################################
### allow perception workspace

# unignore perception-ws 
!perception/
perception/*

# allow specific repos
!perception/object_detection/
!perception/.catkin_tools/

# unignore thirdparty-ws catkin
!perception/thirdparty/catkin
perception/thirdparty/catkin/*

# allow specific repos
!perception/thirdparty/catkin/.catkin_tools/
perception/thirdparty/catkin/.catkin_tools/*

# unignore recording-ws catkin
!perception/recording/catkin
perception/recording/catkin/*

# allow specific repos
!perception/recording/catkin/.catkin_tools/
perception/recording/catkin/.catkin_tools/*

###################################################################################################
### allow state-estimation workspace

# unignore perception-ws 
!state_estimation/
state_estimation/*

# allow specific repos
!state_estimation/.catkin_tools/

# unignore deps-ws catkin
!state_estimation/deps/catkin
state_estimation/deps/catkin/*

# allow specific repos
!state_estimation/deps/catkin/.catkin_tools/
state_estimation/deps/catkin/.catkin_tools/*

###################################################################################################
### allow basestation workspace

# unignore perception-ws 
!basestation/
basestation/*

# allow specific repos
!basestation/.catkin_tools/

# unignore deps-ws catkin
!basestation/thirdparty/catkin
basestation/thirdparty/catkin/*

# allow specific repos
!basestation/thirdparty/catkin/.catkin_tools/
basestation/thirdparty/catkin/.catkin_tools/*

###################################################################################################

# unignore planning-ws 
!launch/
launch/*

# allow specific repos
!launch/.catkin_tools/

###################################################################################################
### ignore anything that was previously allowed

### ignore planning ###

# ignore catkin tools non config packages
planning/.catkin_tools/profiles/default/packages/
planning/.catkin_tools/profiles/default/devel_collisions.txt
planning/.catkin_tools/profiles/default/build.yaml

# ignore catkin tools non config packages
planning/deps/catkin/.catkin_tools/profiles/default/packages/
planning/deps/catkin/.catkin_tools/profiles/default/devel_collisions.txt
planning/deps/catkin/.catkin_tools/profiles/default/build.yaml

# ignore catkin tools non config packages
planning/hardware/catkin/.catkin_tools/profiles/default/packages/
planning/hardware/catkin/.catkin_tools/profiles/default/devel_collisions.txt
planning/hardware/catkin/.catkin_tools/profiles/default/build.yaml

### ignore perception ###

# ignore catkin tools non config packages
perception/.catkin_tools/profiles/default/packages/
perception/.catkin_tools/profiles/default/devel_collisions.txt
perception/.catkin_tools/profiles/default/build.yaml

# ignore catkin tools non config packages
perception/deps/catkin/.catkin_tools/profiles/default/packages/
perception/deps/catkin/.catkin_tools/profiles/default/devel_collisions.txt
perception/deps/catkin/.catkin_tools/profiles/default/build.yaml

### ignore state_estimation ###

# ignore catkin tools non config packages
state_estimation/.catkin_tools/profiles/default/packages/
state_estimation/.catkin_tools/profiles/default/devel_collisions.txt
state_estimation/.catkin_tools/profiles/default/build.yaml

### ignore basestation ###

# ignore catkin tools non config packages
basestation/.catkin_tools/profiles/default/packages/
basestation/.catkin_tools/profiles/default/devel_collisions.txt
basestation/.catkin_tools/profiles/default/build.yaml
basestation/.catkin_tools/profiles/default/config.yaml

# ignore catkin tools non config packages
basestation/thirdparty/catkin/.catkin_tools/profiles/default/packages/
basestation/thirdparty/catkin/.catkin_tools/profiles/default/devel_collisions.txt
basestation/thirdparty/catkin/.catkin_tools/profiles/default/build.yaml

### ignore launch

# ignore catkin tools non config packages
launch/.catkin_tools/profiles/default/packages/
launch/.catkin_tools/profiles/default/devel_collisions.txt
launch/.catkin_tools/profiles/default/build.yaml

launch/.catkin_tools/profiles/planning/packages/
launch/.catkin_tools/profiles/planning/devel_collisions.txt
launch/.catkin_tools/profiles/planning/build.yaml

launch/.catkin_tools/profiles/planning-no-hardware/packages/
launch/.catkin_tools/profiles/planning-no-hardware/devel_collisions.txt
launch/.catkin_tools/profiles/planning-no-hardware/build.yaml

launch/.catkin_tools/profiles/state_est/packages/
launch/.catkin_tools/profiles/state_est/devel_collisions.txt
launch/.catkin_tools/profiles/state_est/build.yaml

launch/.catkin_tools/profiles/basestation/build.yaml
launch/.catkin_tools/profiles/basestation/devel_collisions.txt
launch/.catkin_tools/profiles/basestation/packages/

launch/.catkin_tools/profiles/basestation-perception/build.yaml
launch/.catkin_tools/profiles/basestation-perception/devel_collisions.txt
launch/.catkin_tools/profiles/basestation-perception/packages/

launch/.catkin_tools/profiles/perception/build.yaml
launch/.catkin_tools/profiles/perception/devel_collisions.txt
launch/.catkin_tools/profiles/perception/packages/

# ignore which default settings is set
launch/.catkin_tools/profiles/profiles.yaml

### ignore other misc.
ci/deploy/field/laptop.yaml
