[submodule "ci/ci_jenkins"]
	path = ci/ci_jenkins
	url = git@bitbucket.org:cmusubt/ci_jenkins.git
[submodule "ci/ci_phase"]
	path = ci/ci_phase
	url = git@bitbucket.org:cmusubt/ci_phase.git
[submodule "planning/planning_workspace"]
	path = planning/planning_workspace
	url = git@bitbucket.org:cmusubt/planning_workspace.git
[submodule "docker/tools"]
	path = docker/tools
	url = git@bitbucket.org:castacks/ci_tools.git
