# // /////////////////////////////////////////////////////////////////////////////
# // ignore terraform state file
# // /////////////////////////////////////////////////////////////////////////////

# example
operations/deploy/azurebooks/example/.terraform/
operations/deploy/azurebooks/example/terraform.tfstate
operations/deploy/azurebooks/example/terraform.tfstate.backup
operations/deploy/azurebooks/example/.terraform.*
operations/deploy/azurebooks/example/terraform.tfstate.d

# subt
operations/deploy/azurebooks/subt/main.tf
operations/deploy/azurebooks/subt/.terraform/
operations/deploy/azurebooks/subt/terraform.tfstate
operations/deploy/azurebooks/subt/terraform.tfstate.backup
operations/deploy/azurebooks/subt/.terraform.*
operations/deploy/azurebooks/subt/terraform.tfstate.d

# admin
operations/deploy/azurebooks/admin/.terraform/
operations/deploy/azurebooks/admin/terraform.tfstate
operations/deploy/azurebooks/admin/terraform.tfstate.backup
operations/deploy/azurebooks/admin/.terraform.*

# // /////////////////////////////////////////////////////////////////////////////
# // other
# // /////////////////////////////////////////////////////////////////////////////

todo-tmp.TODO
.vscode/

