<?xml version="1.0" encoding="utf-8" ?>
<launch>

  <!-- computer argument -->
  <arg name="computer" default="ugv1" />

  <include file="$(find ugv_hardware)/launch/protected_drivers.launch" >
    <arg name="computer" default="$(arg computer)" />

    <arg name="front_left" value="$(env subt_$(arg computer)_front_left)" />
    <arg name="front_right" value="$(env subt_$(arg computer)_front_right)" />
    <arg name="rear_left" value="$(env subt_$(arg computer)_rear_left)" />
    <arg name="rear_right" value="$(env subt_$(arg computer)_rear_right)" />
    <arg name="1st_sol" default="$(env subt_$(arg computer)_1st_sol)" />
    <arg name="2nd_sol" default="$(env subt_$(arg computer)_2nd_sol)" />
    <arg name="3rd_sol" default="$(env subt_$(arg computer)_3rd_sol)" />
    <arg name="4th_sol" default="$(env subt_$(arg computer)_4th_sol)" />
  </include>

</launch>
