<?xml version="1.0" encoding="utf-8" ?>
<launch>

  <!-- basic arguments passed through the command line -->

  <!-- computer type. Examples: basestation, ugv1, ugv2, uav1, etc. -->
  <arg name="computer" default="ugv1" />
  <!-- scenario type. Examples: basestation_gui, ugv_ppc, ugv_nuc, ugv_xavier, ds1, ds2, ugv_azure, uav_azure, etc -->
  <arg name="scenario" default="ugv_ppc" />

  <!-- load the scenario file -->

  <include file="$(find subt_launch_example)/launch/scenario/$(arg scenario).launch">
    <arg name="computer" value="$(arg computer)" />
    <arg name="scenario" value="$(arg scenario)" />
  </include>

</launch>
