<?xml version="1.0" encoding="utf-8" ?>
<launch>

  <!-- computer examples: ugv1, ugv2, uav1, etc. -->
  <arg name="computer" default="basestation" />
  <!-- launch_type examples: ppc, nuc, nuc_host, xavier, ds1, ds2, etc -->
  <arg name="launch_type" default="basestation-gui" />

  <!-- Basestation (docker, non-perception) -->
  <group if="$(eval arg('launch_type') == 'basestation-gui' )">

    <!-- basestation gui launch -->
    <include file="$(find subt_launch_example)/launch/basestation/robot_basestation_gui.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- Basestation (docker, perception) -->
  <group if="$(eval arg('launch_type') == 'basestation-perception' )">

    <!-- basestation objdet launch -->
    <include file="$(find subt_launch_example)/launch/basestation/robot_basestation_objdet.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

</launch>
