<?xml version="1.0" encoding="utf-8" ?>
<launch>

  <!-- computer examples: ugv1, ugv2, uav1, etc. -->
  <arg name="computer" default="ugv1" />
  <!-- launch_type examples: ppc, nuc, nuc_host, xavier, ds1, ds2, etc -->
  <arg name="launch_type" default="ppc" />

  <!-- Planning-PC (docker) -->
  <group if="$(eval arg('launch_type') == 'ppc' )">

    <!-- robot hardware launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_hardware.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

    <!-- planning launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_planning.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- NUC (docker) -->
  <group if="$(eval arg('launch_type') == 'nuc' )">

    <!-- state estimation launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_state_estimation.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- NUC (host) -->
  <group if="$(eval arg('launch_type') == 'nuc_host' )">

    <!-- state estimation, LOAM launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_state_estimation_host.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- XAVIER (host) -->
  <group if="$(eval arg('launch_type') == 'xavier' )">

    <!-- perception hardware drivers launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_cameras.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

    <!-- perception object detection launch -->
    <include file="$(find subt_launch)/launch/ugv/robot_ugv_objdet.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

</launch>
