[Desktop Entry]
Name=basestation.stop
Exec=gnome-terminal -e 'tmuxp load /home/$USER/subt/deploy_ws/src/tmuxp/stop.basestation.yaml'
Type=Application
Terminal=true
