<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- UGV, Scenario Launch -->
<!-- ///////////////////////////////////////////////////////////////////// -->
<?xml version="1.0" encoding="utf-8" ?>
<launch>

  <!-- computer examples: ugv1, ugv2, uav1, etc. -->
  <arg name="computer" default="ugv1" />
  <!-- scenario examples: ugv_ppc, ugv_nuc, ugv_nuc_host, ugv_xavier, ds1, ds2, etc -->
  <arg name="scenario" default="ugv_robot_ppc" />

  <!-- ///////////////////////////////////////////////////////////////////// -->
  <!-- Scenario: "ugv_ppc"
    Types of launches:
    * launches the ugv algorithms that run on the intel planning-pc, in a docker container, on the ugv robot
  -->
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <group if="$(eval arg('scenario') == 'ugv_robot_ppc' )">

    <!-- robot hardware launch -->
    <!-- check if we have set in the params, the enable hardware param, to launch hardware -->
    <arg name="enable_hardware" value="$(env subt_$(arg computer)_enable_hardware)" />
    <group if="$(eval arg('enable_hardware') == true )">

      <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_hardware.launch">
        <arg name="computer" value="$(arg computer)" />
      </include>

    </group>

    <!-- planning launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_planning.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- ///////////////////////////////////////////////////////////////////// -->
  <!-- Scenario: "ugv_nuc"
    Types of launches:
      * launches the ugv algorithms that run on the intel nuc, in a docker container, on the ugv robot
  -->
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <group if="$(eval arg('scenario') == 'ugv_robot_nuc' )">

    <!-- state estimation launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_state_estimation.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- ///////////////////////////////////////////////////////////////////// -->
  <!-- Scenario: "ugv_nuc_host"
  Types of launches:
    * launches the ugv algorithms that run on the intel nuc, on the host, on the ugv robot
  -->
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <group if="$(eval arg('scenario') == 'ugv_robot_nuc_host' )">

    <!-- state estimation, LOAM launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_state_estimation_host.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- ///////////////////////////////////////////////////////////////////// -->
  <!-- Scenario: "ugv_xavier"
  Types of launches:
    * launches the ugv algorithms that run on the xavier, on the host, on the ugv robot
  -->
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <group if="$(eval arg('scenario') == 'ugv_robot_xavier' )">

    <!-- perception hardware drivers launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_cameras.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

    <!-- perception object detection launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/robot_ugv_objdet.launch" >
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

  <!-- ///////////////////////////////////////////////////////////////////// -->
  <!-- Scenario: "ugv_azure"
  Types of launches:
    * launches the ugv algorithms that run on an Azure VM, in a docker container, on the ugv VM
  -->
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <group if="$(eval arg('scenario') == 'ugv_azure_sim' )">

    <!-- computer examples: ugv1, ugv2, uav1, etc. -->
    <arg name="computer" default="ugv1" />
    <!-- scenario examples: ugv_ppc, ugv_nuc, ugv_nuc_host, ugv_xavier, ds1, ds2, etc -->
    <arg name="scenario" default="ppc" />

    <!-- gazebo sim launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/azure_ugv_simulation.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

    <!-- planning launch -->
    <include file="$(find subt_launch_example)/launch/robot/ugv/azure_ugv_planning.launch">
      <arg name="computer" value="$(arg computer)" />
    </include>

  </group>

</launch>
